{% extends 'base.html' %}

{% block orders %}
    {{ client_orders.count }}
{% endblock %}

{% block offers %}
    {{ client_offers.count }}
{% endblock %}

{% block header %}
    <h1>Make offer</h1>
{% endblock %}

{% block content %}
    <form method="post" style="max-width: 300px; margin: auto;">
    <form method="post" style="max-width: 300px; margin: auto;">
        {% csrf_token %}

        {{ form.price.label_tag }}<br>
        {{ form.price }}<br>

        {{ form.comment.label_tag }}<br>
        {{ form.comment }}<br><br>

        <input type="submit" value="Make offer">
    </form>
{% endblock %}