<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="{% static 'client/index.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% if clients %}
    {% for client in clients %}
    <div class="client">
        <div class="client_info">
            <h3><a href="{% url 'clients:detail' client.id %}"> {{ client.name }} </a></h3>
            <p class="client_info"> Phone: {{ client.phone }} </p>
            <p class="client_info"> Email: {{ client.email }} </p>
            <p class="client_info"> Rating: {{ client.rating }} </p>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>List of clients is empty</p>
{% endif %}
</body>
</html>