{% extends 'base.html' %}

{% block content %}
  {% if orders and user %}
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for order in orders %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ order.title }}</h5>
                            <!-- Product price-->
                            {{ order.description }}<br>
                            {{ order.date }}<br>
                            {{ order.area }}<br>
                            {{ order.client }}<br>
                            {{ order.rating }}<br>
                        </div>
                    </div>
                    <!-- Product actions (Dropdown)-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <div class="dropdown">
                                <button class="btn btn-outline-dark mt-auto dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage order
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'orders:update' order.id %}">Update</a>
                                    <a class="dropdown-item" href="{% url 'orders:delete' order.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <h5>No orders found for user {{user.username}} </h5>
{% endif %}
{% endblock %}
